html {
    background-image: url("luca.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-align: center;
}

main {
    margin: auto;
    width: 75%;
}

h1 {
    color: violet;
    font-family: 'Square Peg';
    font-size: 64pt;
    font-style: italic;
    background-color: red;
    padding: 0pt;
    line-height: 32pt;
    margin: 0pt, 32pt;
}

p {
    color: red;
    font-family: 'Poppins';
    font-size: 16pt;
    font-weight: bold;
    line-height: 24pt;
    margin: auto;
    margin-bottom: 24pt;
    text-shadow: 2px 1px violet;
    width: 80%;
}